@model IEnumerable<Carro.Models.Product>

@{
    ViewData["Title"] = "Clientes";
}

<h1>Clientes</h1>


<div class="row justify-content-start">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
        <div class="card-columns">
            <div class="card" style="width: 18rem;">
                <img src="@item.UrlImagen" height="300" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.Nombre</h5>
                        <p class="card-text">@string.Format(new System.Globalization.CultureInfo("es-CL"), "{0:C}", item.Precio)</p>
                    <p class="card-text">@item.Stock</p>
                        <a asp-action="Add" asp-controller="Carro" asp-route-id="@item.ProductId" class="btn btn-danger btn-block">Add to Cart</a>
                </div>
            </div>
        </div>
        </div>

    }
</div>
   

   
